---
import Layout from "../layouts/Layout.astro";
import chooseDeviceImg from "@assets/img/choose-device.svg";
import promotedStarImg from "@assets/img/symbols/promoted-star.svg";

import phoneShapePromotedImg from "ubports-astro-components/img/illustration/phone-outline-1.svg";
import phoneShapeCommunityImg from "ubports-astro-components/img/illustration/phone-outline-2.svg";

const pageMeta = {
  title: "Ubuntu Touch • Linux mobile OS that gives you pure freedom",
  meta: [
    {
      name: "keywords",
      content: "Linux phone, Ubuntu Phone, Open Source Phone"
    },
    {
      name: "description",
      content:
        "Ubuntu Touch is the open source phone that has freedom and privacy in mind. Supported by dozens of devices, with installer for FOSS fans"
    },
    {
      property: "og:url",
      content: "https://devices.ubuntu-touch.io"
    },
    {
      property: "og:title",
      content: "Ubuntu Touch • Linux Phone"
    },
    {
      property: "og:description",
      content:
        "Ubuntu Touch is the open source phone that has freedom and privacy in mind. Supported by dozens of devices, with installer for FOSS fans"
    }
  ]
};
---

<Layout pageMeta={pageMeta}>
  <div class="devices-homepage">
    <toggle-button
      data-target="#sidebarCollapse"
      data-action="add"
      data-tgclass="show"
      data-scrollview
    >
      <img
        class="mb-5 d-lg-none cursor-lg-pointer d-print-none"
        src={chooseDeviceImg.src}
        alt="choose-device-img"
      />
    </toggle-button>

    <h1 class="mt-5 mb-3 h3">Before installation</h1>

    <p>
      <a href="https://ubuntu-touch.io" class="link" target="_blank"
        >Ubuntu Touch</a
      > is libre software originally developed by Canonical, now maintained by the
      <a href="https://ubports.com" class="link" target="_blank"
        >UBports community</a
      >; a collective of volunteers passionate about developing an ethical
      mobile operating system.
    </p>

    <p>
      It is mostly stable, but still missing some features. Please read <a
        href="https://t.me/UTFAQ/2"
        class="link"
        target="_blank">Frequently Asked Questions</a
      > before installing.
    </p>

    <ul class="ul-show-list">
      <li>Stick to the guidelines</li>
      <li>
        Be careful with some of the devices if they are not recently updated.
      </li>
      <li>Ensure your device is fully functional beforehand</li>
      <li>Communication issues with VoLTE may apply to North America.</li>
      <li>Avoid manual installation unless you know what you are doing.</li>
    </ul>

    <h2 class="mb-2 mt-5 h4">Find the Linux device that suits you</h2>

    <ul class="ul-show-list">
      <li>
        Get a <span class="bold">preinstalled device</span>: Volla, Pine64 and
        FXP offer devices preinstalled with Ubuntu Touch.
      </li>
      <li>
        Use the <span class="bold">UBports installer</span> on devices listed on
        this page to switch from Android to Ubuntu Touch.<br /> Dual booting is not
        supported. Check that the device is supported and the features you need work
        correctly before buying.
      </li>
      <li>
        Install directly on <span class="bold">native devices</span> like the Pinephones
        and Pinetabs. Put the image file on the device and it boots up from it directly.
        Find more info in the respective device pages.
      </li>
      <li>
        <span class="bold">Manual installation</span> is discouraged. Please use
        the UBports installer instead.<br />If you need to manually install for
        development purposes, ask in the <a
          href="https://t.me/ubports_porting"
          class="link"
          target="_blank">porting group</a
        >.
      </li>
      <li>
        <span class="bold">Virtual installation</span>: If you don’t have a
        supported device and want to help development set up the <a
          href="https://github.com/ubports/ubports-pdk#readme"
          class="link"
          target="_blank">UBports platform development kit</a
        >.
      </li>
      <li>
        <span class="bold">Lomiri only</span>: Try Lomiri as a desktop
        environment on your PC and help development.<br />Check the <a
          href="https://lomiri.com/"
          class="link"
          target="_blank">Lomiri website</a
        >.
      </li>
    </ul>

    <div class="promoted-devices d-flex align-items-stretch mt-5">
      <a href="/promoted/" class="commercial-devices">
        <h2 class="h3 mb-3 text-white">Commercial Devices</h2>
        <p class="fs-6">
          Companies offer compatible Ubuntu devices as part of their business. <span
            class="underline">Buy online</span
          >.
        </p>
        <img
          src={phoneShapePromotedImg.src}
          alt=""
          loading="lazy"
          decoding="async"
        />
        <p class="mt-auto">
          <span class="underline">Volla Phone X23</span>, <span
            class="underline">Fairphone 4</span
          >
        </p>
      </a>
      <a href="/promoted/#community" class="community-devices">
        <h2 class="h3 mb-3">Community Devices</h2>
        <p class="fs-6">
          Devices by porters with a reputation for long-term commitment and
          competence.
        </p>
        <img
          src={phoneShapeCommunityImg.src}
          alt=""
          loading="lazy"
          decoding="async"
        />
        <p class="mt-auto">
          <span class="underline">Google Pixel 3a</span>
        </p>
      </a>
    </div>

    <h2 class="mb-2 mt-5 h4">What about my device?</h2>
    <p>
      Maybe, as is often the case, your device manufacturer decided your device
      isn't yours. The UBPorts community is doing what it can to free crucial
      parts of the device hardware support, and support as many devices as
      possible.
    </p>
    <p>
      Porting is the process of making Ubuntu Touch run on new hardware, meaning
      devices previously unable to run Ubuntu Touch.
    </p>

    <h2 class="mb-2 mt-5 h4">Get Help</h2>
    <p>
      Device performance may vary from one device to another. All mature devices
      have easy access to installation through the UBports installer. However,
      devices in an early state generally need to follow a manual installation
      procedure, which might be complicated. If you complete installation on
      yours, depending on your skills you can then assist others
      <a class="link" href="http://t.me/WelcomePlus/" target="_blank"
        >@UBports Welcome & Install
      </a>. if you don't speak english, try your local community.
    </p>

    <h2 class="mb-2 h4 mt-5">Local community support</h2>
    <p>
      UBports is formalized as a charitable foundation, but above all, it is a
      volunteer group. We will listen carefully and respectfully and will try to
      help you as much we can, in return you're welcome to help others.
    </p>
    <a href="https://t.me/ubports" class="link" target="_blank"
      >English (International)</a
    >,
    <a href="https://t.me/UBports_Arabic" class="link" target="_blank"
      >Arabic (عربى)</a
    >,
    <a href="https://t.me/ubports_pt" class="link" target="_blank"
      >Portuguese (Português)
    </a>,
    <a href="https://t.me/UBPorts_ES" class="link" target="_blank"
      >Spanish (ESPAÑOL)</a
    >,
    <a href="https://t.me/ubportsitaliano" class="link" target="_blank"
      >Italian (Italiano)
    </a>,
    <a href="https://t.me/UBports_IND" class="link" target="_blank"
      >Indonesia (BAHASA)</a
    >,
    <a href="https://t.me/UBports_Chinese" class="link" target="_blank"
      >Chinese (这里有中文)</a
    >,
    <a href="https://t.me/UBports_Tr" class="link" target="_blank"
      >Turkish (TÜRKÇE)
    </a>,
    <a href="https://t.me/UBports_Deutsch" class="link" target="_blank"
      >German (Deutsch)</a
    >,
    <a href="https://t.me/UBports_Esperanto" class="link" target="_blank"
      >Esperanto (Esperanto)</a
    >,
    <a href="https://t.me/UBports_French" class="link" target="_blank"
      >French (Français)</a
    >,
    <a href="https://t.me/UBports_Ru" class="link" target="_blank"
      >Russian (Русский)</a
    >,
    <a href="https://t.me/UBports_India" class="link" target="_blank"
      >India (Hindi/English)</a
    >,
    <a href="https://t.me/UBports_RO_ro" class="link" target="_blank"
      >Romania (Română)</a
    >,
    <a href="https://t.me/UBports_NL" class="link" target="_blank"
      >Dutch (Nederlands)
    </a>,
    <a href="https://t.me/UBports_ca" class="link" target="_blank"
      >Catalan (Català)
    </a>,
    <a href="https://t.me/UBports_KO" class="link" target="_blank"
      >Korean (한국어)</a
    >,
    <a href="https://t.me/UBports_SC" class="link" target="_blank"
      >Sardinian (Sardu)</a
    >,
    <a href="https://t.me/Ubports_CZ_SK" class="link" target="_blank"
      >Czech & Slovak</a
    >,
    <a href="https://t.me/UBports_scandinavia" class="link" target="_blank"
      >Scandinavia (Norsk, Svenska and Dansk)</a
    >,
    <a href="https://t.me/UBports_PL" class="link" target="_blank"
      >Polish (Polskie)</a
    >,
    <a href="https://t.me/UBports_UKR" class="link" target="_blank"
      >Ukrainian (Української!)
    </a>,
    <a href="https://t.me/UBports_Israel" class="link" target="_blank"
      >Israel (عربى & עברית)</a
    >,
    <a href="https://t.me/UBports_JP" class="link" target="_blank"
      >Japanese (日本語)</a
    >,
    <a href="https://t.me/UBports_fi" class="link" target="_blank"
      >Finnish (Suomi)</a
    >.

    <h2 class="mb-2 mt-5 h4">Disclaimer</h2>
    <p class="mb-5">
      We create, borrow, and share software. With limited resources it
      represents our best efforts. Anyone can use it as they wish. The software
      is yours, and so is your risk in using it. Enjoy Ubuntu Touch.
    </p>
  </div>
</Layout>
